{{>navbar}}


<h1 class="text-center m-5">Login</h1>

<div style="display: flex; justify-content: center;">
    {{>form-login}}
</div>

{{>footer}}

{{!-- <script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
<script src="/static/js/login.js"></script> --}}