{{>navbar}}

<h1 class="text-center m-5">Product - {{title}}</h1>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    {{>productDetail}}
</div>

{{>footer}}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.socket.io/4.7.3/socket.io.min.js"></script>
<script src="/static/js/detail.js"></script>